
@media screen and (max-width: 689px)



  .enroll__register-btn
    display: block
    margin: 20px auto
    padding: 20px 20px
    border-radius: 5px
    width: 100%
    background-color: $point-color

  .enroll-myinfo-all-myinfo
    height: 70vh

  .enroll-myinfo-all-tutor
    height: 570px

  .enroll-lec-all ,.enroll-myinfo-all-tutor ,.enroll-myinfo-all-myinfo
    width: 100%
    margin-top: 48px
    border-top: 5px solid $main-color
    float: left
    padding: 20px
    color: $font-main-color
    font-weight: 400
    background-color: white
    input
      border: 1px solid $point-color



  .enroll-lec__heading
    margin-bottom: 24px


  .enroll-lec__list
    display: flex
    align-items: center
    height: 48px
    margin-bottom: 24px
    h3
      width: 20.69%
      margin-right: 3.44%
      height: 48px
      display: flex
      align-items: center

  .enroll-lec__heading, .enroll-myinfo__heading
    margin-bottom: 24px

  .enroll-lec__list-title
    width: 75.86%
    height: 48px
    font-size: 16px
    padding-left: 10px
    border-radius: 5px

  .enroll-lec__category
    width: 75.86%
    height: 48px
    font-size: 16px
    border-radius: 5px
    select
      padding-left: 10px
      width: 50%
      font-size: 16px
      height: 48px

  .enroll-lec__type
    width: 75.86%
    align-items: center
    font-size: $font-s-size
    display: flex
    label
      margin-right: 20px


  .enroll-myinfo__basic,
  .enroll-myinfo__tutor
    // background: #229
    width: 100%

  .enroll-myinfo__basic th, .enroll-myinfo__tutor th
    // background: #339
    float: left
    font-size: 1.17em
    font-weight: bold
    padding: 24px 0

  .th2
    letter-spacing: 40px

  .th3
    letter-spacing: 13px

  .th4
    letter-spacing: 4px

  .user__pw-cg
    margin: 5px 0

  .file_upload input
    border: 0px solid #fff
    float: left
    text-align: left

  // .file_upload input
  //   border: 0px solid #fff




  .enroll-lec__list-title , .enroll-myinfo-all-tutor input , .enroll-myinfo-all-myinfo input
    width: 75.86%
    height: 48px
    font-size: 16px
    padding-left: 10px
    border-radius: 5px
    // background: #193

  .enroll-myinfo-all-tutor input , .enroll-myinfo-all-myinfo input
    width: 100%


  .enroll-lec__category
    width: 75.86%
    height: 48px
    font-size: 16px
    border-radius: 5px
    select
      padding-left: 10px
      width: 50%
      font-size: 16px
      height: 48px

  .enroll-lec__picture
    label
      width: 75.86%
      height: 48px
      display: flex
      align-items: center
      input
        width: 100%
        border: 0



  .enroll-lec__introduce-tutor
    input
      width: 75.86%
      height: 48px
      font-size: 16px
      padding-left: 10px
      border-radius: 5px

  .enroll-lec__introduce-lec
    input
      width: 75.86%
      height: 48px
      font-size: 16px
      padding-left: 10px
      border-radius: 5px

  .enroll-lec__curriculum
      display: flex
      margin-bottom: 24px
      h3
        width: 20.69%
        margin-right: 3.44%
        height: 48px
        display: flex
        align-items: center

  .enroll-lec__curriculum-list
    width: 75.86%
    li
      p
        height: 48px
        display: flex
        align-items: center
      textarea
        border-radius: 5px
        width: 100%
        height: 96px
        border: 1px solid $point-color

    .curriculum__button-wrapper
      display: flex
      width: 100%
      justify-content: center
      button
        margin: 10px auto
        display: block
        border-radius: 5px
        padding: 5px 10px
        background-color: $point-color





@media screen and (min-width: 690px)

  .enroll-myinfo-all-myinfo
    height: 70vh


  .enroll-myinfo-all-tutor
    height: 570px

  .enroll-lec-all, .enroll-myinfo-all-tutor ,.enroll-myinfo-all-myinfo
    border-top: 5px solid $main-color
    float: left
    max-width: 1200px
    width: 65.96%
    padding: 20px
    color: $font-main-color
    font-weight: 400
    background-color: white
    input
      border: 1px solid $point-color


  .enroll-lec__heading, .enroll-myinfo__heading
    margin-bottom: 24px

  .enroll-lec__list
    display: flex
    align-items: center
    height: 48px
    margin-bottom: 24px
    h3
      width: 20.69%
      margin-right: 3.44%
      height: 48px
      display: flex
      align-items: center

  .enroll-myinfo__basic,
  .enroll-myinfo__tutor
    // background: #229
    width: 100%

  .enroll-myinfo__basic th, .enroll-myinfo__tutor th
    // background: #339
    float: left
    font-size: 1.17em
    font-weight: bold
    padding: 24px 0

  .th2
    letter-spacing: 40px

  .th3
    letter-spacing: 13px

  .th4
    letter-spacing: 4px

  .user__pw-cg
    margin: 5px 0

  .file_upload input
    border: 0px solid #fff
    float: left
    text-align: left

  // .file_upload input
  //   border: 0px solid #fff


  .enroll-lec__list-title, .enroll-myinfo-all-tutor input , .enroll-myinfo-all-myinfo input
    width: 75.86%
    height: 48px
    font-size: 16px
    padding-left: 10px
    border-radius: 5px

  .enroll-myinfo-all-tutor input , .enroll-myinfo-all-myinfo input
    width: 100%

  .enroll-lec__category
    width: 75.86%
    height: 48px
    font-size: 16px
    border-radius: 5px
    select
      padding-left: 10px
      width: 50%
      font-size: 16px
      height: 48px

  .enroll-lec__type
    width: 75.86%
    align-items: center
    font-size: $font-s-size
    display: flex
    label
      margin-right: 20px

  .enroll-lec__picture
    label
      width: 75.86%
      height: 48px
      display: flex
      align-items: center
      input
        width: 100%
        border: 0


  .enroll-lec__introduce-tutor
    input
      width: 75.86%
      height: 48px
      font-size: 16px
      padding-left: 10px
      border-radius: 5px

  .enroll-lec__introduce-lec
    input
      width: 75.86%
      height: 48px
      font-size: 16px
      padding-left: 10px
      border-radius: 5px

  .enroll-lec__curriculum
      display: flex
      margin-bottom: 24px
      h3
        width: 20.69%
        margin-right: 3.44%
        height: 48px
        display: flex
        align-items: center

  .enroll-lec__curriculum-list
    width: 75.86%
    li
      p
        height: 48px
        display: flex
        align-items: center
      textarea
        border-radius: 5px
        width: 100%
        height: 96px
        border: 1px solid $point-color

    .curriculum__button-wrapper
      display: flex
      width: 100%
      justify-content: center

      button
        margin: 10px auto
        display: block
        border-radius: 5px
        padding: 5px 10px
        background-color: $point-color

  .enroll__register-btn
    display: block
    margin: 20px auto
    padding: 20px 20px
    border-radius: 5px
    width: 100%
    background-color: $point-color
