
.curriculum__heading
  margin-bottom: $stand-height

.curriculum__list
  li
    // margin-bottom: $stand-height
  span
    margin-bottom: 12px

@media screen and (max-width:689px)
  .curriculum
    font-size: $font-m-size
    padding: 0 20px
    @include bording-mobile



@media screen and (min-width: 690px)
  .curriculum
    font-size: $font-m-size
    max-width: 1200px
    padding: 0 20px 0 20px
    margin: 0 auto
    @include bording-pc
